/**
 * Consistent Flags
 *
 * @author  Jay Trees <consistent-flags@grandels.email>
 * @link    https://github.com/grandeljay/modified-consistent-flags
 * @package GrandelJayConsistentFlags
 */

/**
 * Admin bar
 */
.row_adminbar ul li.language img {
    float: none;
    width: auto;
    height: 100%;
    padding-top: 0;
}

/**
 * Language tabs
 */
.tablangmenu ul li img {
    height: 2em;
}

.main img {
    height: 2em;
    vertical-align: middle;
    margin-bottom: 3.4px;
}

/**
 * Box content
 */
.infoBoxHeadingTitle > img {
    height: 1em;
    vertical-align: middle;
}
