/**
 * Consistent Flags
 *
 * @author  Jay Trees <consistent-flags@grandels.email>
 * @link    https://github.com/grandeljay/modified-consistent-flags
 * @package GrandelJayConsistentFlags
 */

/**
 * Admin bar
 */
.row_adminbar ul li.language img {
    height: 12px;
}

/**
 * Language tabs
 */
.tablangmenu ul li img {
    height: 1em;
}

.main img {
    height: 1em;
}

/**
 * Info box content
 */
.infoBoxContent > img {
    width: 18px;
    height: auto;
}
