/**
 * Consistent Flags
 *
 * @author  Jay Trees <consistent-flags@grandels.email>
 * @link    https://github.com/grandeljay/modified-consistent-flags
 * @package GrandelJayConsistentFlags
 */

/**
 * Admin bar
 */
.row_adminbar ul li.language img {
    height: 12px;
}

/**
 * Language tabs
 */
.tablangmenu ul li img {
    height: 1em;
}

.main img {
    height: 1em;
}

/**
 * Box content
 */
.infoBoxHeadingTitle > img {
    height: 1em;
    vertical-align: middle;
}
